.dockerignore
Dockerfile*
db.sqlite3
__pycache__
.pytest_cache
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
.git
.githooks

.idea
.circleci
bin/dev-tools
.env*
test-results
htmlcov
compose/*.yml
compose/nginx
compose/django/pip.cache
