openapi: 3.0.0
servers:
- url: https://transmission.shipchain.io/
  description: ShipChain Transmission API
info:
  version: 1.0.0
  title: ShipChain Transmission API
  description: |
    The ShipChain Transmission API is a microservice developed to provide a traditional REST abstraction for interactions with
    the Ethereum smart contract platform. Transmission facilitates the reliable submission and retrying of asynchronous
    transactions sent to the ShipChain Ethereum smart contracts. Transmission is also responsible for the implementation
    of the Shipment-related business logic required for the ShipChain Portal and AXLE Gateway projects.
    # Data Format
    All response payloads will be formatted using the [JSON API](http://jsonapi.org) specification.
    Requests can be made to Transmission using `application/json`, `application/vnd.api+json`, and `multipart/form-data`,
    formatted as documented below.
    # Errors
    The API uses standard HTTP status codes and the [JSON API](http://jsonapi.org/examples/#error-objects) specification to indicate the success or failure of the API call. The body of the response will be JSON in the following format:
    ```
    {
      "errors": [
        {
          "status": "422",
          "source": { "pointer": "/data/attributes/volume" },
          "detail": "Volume does not, in fact, go to 11."
        }
      ]
    }
    ```
  x-logo:
    url: '/static/schema/shipchain-logo.png'

strings:
- &response_200 "Success"
- &response_201 "Created"
- &response_202 "Accepted"
- &response_204 "Success"
- &response_401 "Unauthorized"
- &response_404 "Resource not found"
- &response_500 "Internal server error"
- &response_503 "Service temporarily unavailable"

paths:
  /api/v1/shipments/:
    get:
      summary: List shipments
      description: >
        Retrieve an array of `Shipment` objects associated with the current user ordered by the `Shipment.created_at` date.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/ordering'
      - $ref: '#/components/parameters/shipment/has_ship_from_location'
      - $ref: '#/components/parameters/shipment/has_ship_to_location'
      - $ref: '#/components/parameters/shipment/has_final_destination_location'
      - $ref: '#/components/parameters/shipment/ship_from_location__city'
      - $ref: '#/components/parameters/shipment/ship_from_location__state'
      - $ref: '#/components/parameters/shipment/ship_from_location__postal_code'
      - $ref: '#/components/parameters/shipment/ship_from_location__country'
      - $ref: '#/components/parameters/shipment/ship_to_location__city'
      - $ref: '#/components/parameters/shipment/ship_to_location__state'
      - $ref: '#/components/parameters/shipment/ship_to_location__postal_code'
      - $ref: '#/components/parameters/shipment/ship_to_location__country'
      - $ref: '#/components/parameters/shipment/final_destination_location__city'
      - $ref: '#/components/parameters/shipment/final_destination_location__state'
      - $ref: '#/components/parameters/shipment/final_destination_location__postal_code'
      - $ref: '#/components/parameters/shipment/final_destination_location__country'
      tags:
      - Shipments
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/shipment/listResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

    post:
      summary: Create shipment
      description: >
        Create a new `Shipment` owned by the current user.
      tags:
      - Shipments
      responses:
        '202':
          description: *response_202
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/shipment/createResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/requestBodies/shipment/createRequest'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/requestBodies/shipment/createAttributes'
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/requestBodies/shipment/createAttributes'

  /api/v1/shipments/{shipment_id}/:
    get:
      summary: Get shipment details
      description: >
        Get additional info about a `Shipment`.
      parameters:
        - $ref: '#/components/parameters/shipment/permissionLinkId'
      tags:
      - Shipments
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/shipment/getResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

    delete:
      summary: Delete a shipment
      description: >
        Delete the `Shipment` object from Transmission.
      parameters:
      - $ref: '#/components/parameters/shipment/path'
      tags:
      - Shipments
      responses:
        '204':
          description: *response_204
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

    patch:
      summary: Update a shipment
      description: >
        Update a `Shipment` object with the provided parameters.
      tags:
      - Shipments
      responses:
        '202':
          description: *response_202
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/shipment/createResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/requestBodies/shipment/createRequest'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/requestBodies/shipment/createAttributes'
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/requestBodies/shipment/createAttributes'

  /api/v1/shipments/{shipment_id}/documents/:
    get:
      summary: Get shipment documents
      description: >
        Get all `Document`s associated with a `Shipment`.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/document/fileType'
        - $ref: '#/components/parameters/document/documentType'
        - $ref: '#/components/parameters/document/uploadStatus'
      tags:
      - Shipments
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/document/listResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

  /api/v1/shipments/{shipment_id}/transactions/:
    get:
      summary: Get shipment transactions
      description: >
        Retrieve an array of `EthAction`s (association between an Eth `Transaction` and `TransactionReceipt`) associated with a `Shipment`.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_size'
      tags:
        - Shipments
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ethAction/listResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

  /api/v1/shipments/{shipment_id}/permission_links/:
    get:
      summary: List permission links
      description: >
        Get list of `PermissionLink`s associated with the `Shipment`.
      tags:
        - Shipments
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/permissionLinks/listResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

    post:
      summary: Create permission link
      description: |
        Create a new `PermissionLink` associated with the `Shipment`.

        This `PermissionLink` provides read-only access to the `Shipment`.
      tags:
        - Shipments
      responses:
        '202':
          description: *response_202
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/permissionLinks/getResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/requestBodies/permissionLinks/createRequest'
          application/json:
            schema:
              allOf:
                - $ref: '#/components/requestBodies/permissionLinks/createAttributes'
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/requestBodies/permissionLinks/createAttributes'

  /api/v1/shipments/{shipment_id}/permission_links/{permission_links_id}/:
    delete:
      summary: Delete a permission link
      description: >
        Delete the `PermissionLink` object from Transmission.
      parameters:
      - $ref: '#/components/parameters/permissionLinks/path'
      tags:
      - Shipments
      responses:
        '204':
          description: *response_204
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'


  /api/v1/documents/:
    get:
      summary: List documents
      description: >
        Retrieve an array of `Document` objects associated with the current user.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/document/fileType'
      - $ref: '#/components/parameters/document/documentType'
      - $ref: '#/components/parameters/document/uploadStatus'
      tags:
      - Documents
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/document/listResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

    post:
      summary: Create document
      description: |
        Create a new `Document` owned by the current user.

        A presigned S3 request will be generated with credentials to POST a new file of the specified type to S3.
        Engine will then upload the file to the Shipment's vault.

        Note: `Document.upload_status` will need to be updated to `COMPLETE` in order for the document to be retrieved
        from S3.
      tags:
      - Documents
      responses:
        '202':
          description: *response_202
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document/createResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/requestBodies/document/createRequest'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/requestBodies/document/createAttributes'
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/requestBodies/document/createAttributes'

  /api/v1/documents/{document_id}/:
    get:
      summary: Get document details
      description: |
        Get additional info about a `Document`.

        If `Document.upload_status` is `COMPLETE`, a presigned S3 URL for downloading the file will be included in the
        `meta` payload.
      parameters:
      - $ref: '#/components/parameters/document/path'
      tags:
      - Documents
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/document/getResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

    patch:
      summary: Update a document
      description: >
        Update a `Document` object with the provided parameters.
      tags:
      - Documents
      responses:
        '202':
          description: *response_202
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/document/getResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/requestBodies/document/createRequest'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/requestBodies/document/createAttributes'
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/requestBodies/document/createAttributes'

  /api/v1/shipments/{shipment_id}/tracking/:
    post:
      summary: Add tracking data
      description: |
        Associate GPS tracking data with a `Shipment`. The tracking payload must be signed and encoded as a [JWS](https://tools.ietf.org/html/rfc7515).
        An active AXLE certificate must be used to sign this JWS, and the certificate ID must be included in the headers as `kid`.

        A JSON Schema specification for the tracking data payload format is located at [schema.shipchain.io](http://schema.shipchain.io/1.2.1/tracking.json)

        An example of a raw payload:
        ```
        {
          "position": {
            "latitude": -81.048253,
            "longitude": 34.628643,
            "altitude": 924,
            "source": "gps",
            "uncertainty": 95,
            "speed": 34
          },
          "version": "1.0.1",
          "timestamp": "2018-08-22T17:44:39.874352",
          "device_id": "1243d23b-e2fc-475a-8290-0e4f53479553"
        }
        ```
      parameters:
      - $ref: '#/components/parameters/shipment/path'
      tags:
      - Shipments
      security: []
      responses:
        '204':
          description: *response_204
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/requestBodies/shipment/tracking/payload'

    get:
      summary: Get tracking data
      description: >
        Retrieve GPS tracking data associated with a `Shipment` as a GeoJSON FeatureCollection of points (content returned in 'data' attribute conforms to the [GeoJSON](https://tools.ietf.org/html/rfc7946) spec).
      parameters:
      - $ref: '#/components/parameters/shipment/path'
#      - $ref: '#/components/parameters/shipment/asPoint'
#      - $ref: '#/components/parameters/shipment/asLine'
      tags:
      - Shipments
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/tracking/pointResponse'
#                - $ref: '#/components/schemas/tracking/lineResponse'
#                - $ref: '#/components/schemas/tracking/getResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

  /api/v1/jobs/:
    get:
      summary: List jobs
      description: >
        Retrieve an array of `AsyncJob` actions initiated by the user ordered by the `AsyncJob.created_at` date.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_size'
      tags:
      - AsyncJobs
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/job/listResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

  /api/v1/jobs/{job_id}/:
    get:
      summary: Get job
      description: >
        Get more details about an `AsyncJob` and its associated `Transaction`s.
      parameters:
      - $ref: '#/components/parameters/job/path'
      tags:
      - AsyncJobs
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/job/getResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

  /api/v1/transactions/:
    get:
      summary: List transactions
      description: >
        Retrieve an array of `EthAction`s (association between an Eth `Transaction` and `TransactionReceipt`) associated with a wallet.
      parameters:
      - $ref: '#/components/parameters/transaction/wallet_id'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_size'
      tags:
      - Transactions
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ethAction/listResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

  /api/v1/transactions/{transaction_hash}/:
    get:
      summary: Get transaction
      description: >
        Get more details about an `EthAction` (association between an Eth `Transaction` and `TransactionReceipt`) and its state.
      parameters:
      - $ref: '#/components/parameters/transaction/path'
      tags:
      - Transactions
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ethAction/getResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

  /api/v1/locations/:
    get:
      summary: List locations
      description: >
        Retrieve an array of `Location` objects associated with the current user ordered by the `Location.created_at` date.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_size'
      tags:
      - Locations
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/location/listResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'

    post:
      summary: Create a location
      description: >
        Create a new `Location` owned by the current user.
      tags:
      - Locations
      responses:
        '201':
          description: *response_201
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/location/getResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/requestBodies/location/createRequest'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/requestBodies/location/createAttributes'
          multipart/form-data:
            schema:
              $ref: '#/components/requestBodies/location/createAttributes'

  /api/v1/locations/{locations_id}/:
    get:
      summary: Get location
      description: >
        Get additional info about a `Location`.
      parameters:
      - $ref: '#/components/parameters/location/path'
      tags:
      - Locations
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/location/getResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'
    delete:
      summary: Delete a location
      description: >
        Delete the `Location` from Transmission.
      parameters:
      - $ref: '#/components/parameters/location/path'
      tags:
      - Locations
      responses:
        '204':
          description: *response_204
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'
    patch:
      summary: Update a location
      description: >
        Update a `Location` with the provided parameters.
      tags:
      - Locations
      responses:
        '200':
          description: *response_200
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/location/getResponse'
        '401':
          description: *response_401
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors/401'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/requestBodies/location/createRequest'
          application/json:
            schema:
              $ref: '#/components/requestBodies/location/createAttributes'
          multipart/form-data:
            schema:
              $ref: '#/components/requestBodies/location/createAttributes'

components:
  parameters:
    page:
      name: page
      in: query
      description: Page number used for pagination
      required: false
      schema:
        type: integer
        format: int32

    page_size:
      name: page_size
      in: query
      description: Number of objects displayed per page
      required: false
      schema:
        type: integer
        format: int32

    search:
      name: search
      in: query
      description: Shipment info to search for.
      required: false
      schema:
        type: string
        format: format

    ordering:
      name: ordering
      in: query
      description: Ordering of the objects. Default is descending order, add a `-` symbol before the variable to make it ascending.
      required: false
      schema:
        type: string
        enum: [created_at, modified_at, -created_at, -modified_at]

    shipment:
      path:
        required: true
        name: shipment_id
        in: path
        description: ID of the Shipment
        schema:
          $ref: '#/components/schemas/dataTypes/uuid'

      asPoint:
        name: as_point
        in: query
        description: Returns tracking data as points
        schema:
          type: string

      asLine:
        name: as_line
        in: query
        description: Returns tracking data as line
        schema:
          type: string

      has_ship_from_location:
        name: has_ship_from_location
        in: query
        description: Returns shipments with associated ship_from_location objects.
        schema:
          type: boolean

      has_ship_to_location:
        name: has_ship_to_location
        in: query
        description: Returns shipments with associated ship_to_location objects.
        schema:
          type: boolean

      has_final_destination_location:
        name: has_final_destination_location
        in: query
        description: Returns shipments with associated final_destination_location objects.
        schema:
          type: string

      ship_to_location__city:
        name: ship_to_location__city
        in: query
        description: Returns shipments with associated ship_to_location city.
        schema:
          type: boolean

      ship_to_location__state:
        name: ship_to_location__state
        in: query
        description: Returns shipments with associated ship_to_location state.
        schema:
          type: string

      ship_to_location__postal_code:
        name: ship_to_location__postal_code
        in: query
        description: Returns shipments with associated ship_to_location postal code.
        schema:
          type: string

      ship_to_location__country:
        name: ship_to_location__state
        in: query
        description: Returns shipments with associated ship_to_location state.
        schema:
          type: string

      ship_from_location__city:
        name: ship_from_location__city
        in: query
        description: Returns shipments with associated ship_from_location city.
        schema:
          type: string

      ship_from_location__state:
        name: ship_from_location__state
        in: query
        description: Returns shipments with associated ship_from_location state.
        schema:
          type: string

      ship_from_location__postal_code:
        name: ship_from_location__postal_code
        in: query
        description: Returns shipments with associated ship_from_location postal code.
        schema:
          type: string

      ship_from_location__country:
        name: ship_from_location__state
        in: query
        description: Returns shipments with associated ship_from_location state.
        schema:
          type: string

      final_destination_location__city:
        name: final_destination_location__city
        in: query
        description: Returns shipments with associated final_destination_location city.
        schema:
          type: string

      final_destination_location__state:
        name: final_destination_location__state
        in: query
        description: Returns shipments with associated final_destination_location state.
        schema:
          type: string

      final_destination_location__postal_code:
        name: final_destination_location__postal_code
        in: query
        description: Returns shipments with associated final_destination_location postal code.
        schema:
          type: string

      final_destination_location__country:
        name: final_destination_location__state
        in: query
        description: Returns shipments with associated final_destination_location state.
        schema:
          type: string

      permissionLinkId:
        name: permission_link
        in: query
        description: When included and valid, a permission link parameter provides unauthenticated read-only access to a shipment.
        schema:
          $ref: '#/components/schemas/dataTypes/uuid'

    permissionLinks:
      path:
        required: true
        name: permission_links_id
        in: path
        description: ID of the PermissionLink
        schema:
          $ref: '#/components/schemas/dataTypes/uuid'

    location:
      path:
        required: true
        name: location_id
        in: path
        description: ID of the Location
        schema:
          $ref: '#/components/schemas/dataTypes/uuid'

    job:
      path:
        required: true
        name: asyncjob_id
        in: path
        description: ID of the AsyncJob
        schema:
          $ref: '#/components/schemas/dataTypes/uuid'

    transaction:
      path:
        required: true
        name: transaction_hash
        in: path
        description: Hash of a signed Ethereum transaction
        schema:
          $ref: '#/components/schemas/dataTypes/ethereum/transactionHash'
          
      wallet_id:
        required: true
        name: wallet_id
        in: query
        description: Wallet ID to filter transactions by
        schema:
          $ref: '#/components/schemas/dataTypes/uuid'

    document:
      path:
        required: true
        name: document_id
        in: path
        description: ID of the Document
        schema:
          $ref: '#/components/schemas/dataTypes/uuid'

      fileType:
        required: false
        in: query
        name: file_type
        description: Type of file extension to filter by
        schema:
          type: string
          enum: [PDF, JPEG, PNG]

      documentType:
        required: false
        in: query
        name: document_type
        description: Document category to filter by
        schema:
          type: string
          enum: [BOL, IMAGE, OTHER]

      uploadStatus:
        required: false
        in: query
        name: upload_status
        description: Upload status of the files to filter by
        schema:
          type: string
          enum: [PENDING, COMPLETE, FAILED]

  schemas:
    dataTypes:
      # General resource parameters
      uuid: &uuid
        type: string
        format: uuid
        description: Unique UUID for this resource
        example: '1243d23b-e2fc-475a-8290-0e4f53479553'

      shipmentId:
        properties:
          shipment_id:
            <<: *uuid
            title: shipment_id
            description: Shipment's UUID

      documentId:
        properties:
          document_id:
            <<: *uuid
            title: document_id
            description: Document's UUID

      asyncJobId:
        properties:
          async_job_id:
            <<: *uuid
            title: async_job_id
            description: AsyncJob's UUID

      walletId:
        properties:
          wallet_id:
            <<: *uuid
            title: wallet_id
            description: Wallet's UUID

      resourceId:
        properties:
          id:
            <<: *uuid
            title: id

      createdAt:
        properties:
          created_at:
            title: created_at
            description: Date/time of resource creation
            type: string
            format: date-time
            example: '2018-06-18T14:54:56.652732Z'

      updatedAt:
        properties:
          updated_at:
            title: updated_at
            description: Date/time of last resource modification
            type: string
            format: date-time
            example: '2018-06-18T14:54:56.652732Z'

      # General Ethereum parameters
      ethereum:
        transactionHash:
          properties:
            transaction_hash: &transactionHash
              title: transaction_hash
              description: Hash of a signed Ethereum transaction
              type: string
              example: '0x869335bea9131d496acb844b1ce25db22093f81f74d64c8e3e96930cbe4f129c'

        resourceId:
          properties:
            id:
              <<: *transactionHash
              title: id
        address:
          properties:
            address: &address
              title: address
              description: Ethereum address
              type: string
              example: '0x369974bFb76b656C0c45a84D00b1877340b45fA2'

        moderator:
          properties:
            moderator:
              title: moderator
              description: Moderator's ethereum address
              type: string
              example: '0x369974bFb76b656C0c45a84D00b1877340b45fA2'

        publicKey:
          properties:
            public_key:
              title: public_key
              description: Public key of the wallet
              type: string
              example: '8afaded2fc0f7b4566c303fccb9d3b445aa88a1d213d972f38c1c2fe173f7adc8e67596ddab0dd342ec9cd4f907884b5b7ae7b873437fb8a1cb2e58ece473f81'

        privateKey:
          properties:
            private_key:
              title: private_key
              description: Private key of the wallet
              type: string
              example: '2146c3dfeab8621830f5aa4d22cb3ee8ba13c9f9513988ec3fb154c0a43a596a'

        transactionReceipt:
          transactionHash:
            properties:
              transaction_hash:
                <<: *transactionHash

          transactionIndex:
            properties:
              transaction_index:
                title: transaction_index
                description: Integer of the transactions index position in the block.
                type: integer
                example: 9

          blockHash:
            properties:
              block_hash:
                title: block_hash
                description: Hash of the block that this transaction was included in
                type: string
                example: '0xca0dda8d80ccc3b17470b8b8ab9594c75f5ac27c98222f4913bed84d56419b0d'

          blockNumber:
            properties:
              block_number:
                title: block_number
                description: Block number that the transaction was included in
                type: integer
                example: 6271965

          contractAddress:
            properties:
              contract_address:
                title: contract_address
                description: The contract address created, if the transaction was a contract creation, otherwise `null`
                type: string
                example: '0x11f4d0A3c12e86B4b5F39B213F7E19D048276DAe'

          cumulativeGasUsed:
            properties:
              cumulative_gas_used:
                title: cumulative_gas_used
                description: The total amount of gas used when this transaction was executed in the block
                type: integer
                example: 7130108

          gasUsed:
            properties:
              gas_used:
                title: gas_used
                description: The amount of gas used by this specific transaction alone
                type: integer
                example: 240114

          logs:
            properties:
              logs:
                title: logs
                description: Array of log objects, which this transaction generated
                type: string
                example: >
                  [{\"address\": \"0x6DF432De968758Ffd24acb764c439ac8166342b3\", \"blockHash\":
                  \"0xca0dda8d80ccc3b17470b8b8ab9594c75f5ac27c98222f4913bed84d56419b0d\", \"blockNumber\": 6271965,
                  \"data\": \"0x0000000000000000000000000000000000000000000000000000000000000002000000000000000000000000
                  3cb6c364d772e1135700953e69a0ae7a5104f2820000000000000000000000003cb6c364d772e1135700953e69a0ae7a5104f2
                  820000000000000000000000000000000000000000000000000000000000000000\", \"logIndex\": 77,
                  \"removed\": false, \"topics\": [\"0x485397dbe4d658daac8124e3080f66a255b9207fa36d7e757ba4d52fe6c21f54\"],
                  \"transactionHash\": \"0xf53ffac288474d65dc7ad79ea484ab742cc452ccc119053a8274b29f4bdfc888\",
                  \"transactionIndex\": 9, \"id\": \"log_43b39da9\"}]
          logsBloom:
            properties:
              logsBloom:
                title: logsBloom
                description: Hash of the log entries
                type: string
                example: >
                  0x0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
                  000000000000000000000000000000000000000000000000000000000000000000000020000000200000000000000000000000
                  002000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
                  000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
                  000000000000000000400000000000000020000000000000000000000000000000000000000000000000000000000000000000
                  0000
          status:
            properties:
              status:
                title: status
                description: true if the transaction was successful, false if the EVM reverted the transaction
                type: boolean
                example: true

          fromAddress:
            properties:
              from_address:
                <<: *address
                title: from_address
                description: The account that the transaction is sent from

          toAddress:
            properties:
              to_address:
                <<: *address
                title: to_address
                description: The account that the transaction is sent to

        transaction:
          hash:
            properties:
              hash:
                <<: *transactionHash
                title: hash
          nonce:
            properties:
              nonce:
                title: nonce
                description: Nonce of the transaction
                type: string
                example: '0x01'
          chainId:
            properties:
              chain_id:
                title: chain_id
                description: The ID of the Ethereum network for this transaction
                type: integer
                example: 1
          toAddress:
            properties:
              to_address:
                <<: *address
                title: to_address
                description: The account that the transaction is sent to

          value:
            properties:
              value:
                title: value
                description: The value (in wei, hex encoded) included in this transaction
                type: string
                example: '0x0'

          gasLimit:
            properties:
              gas_limit:
                title: gas_limit
                description: The maximum amount of gas that this transaction is allowed to consume
                type: string
                example: '0x7a120'

          gasPrice:
            properties:
              gas_price:
                title: gas_price
                description: The amount of wei the transaction is willing to pay per gas-unit (hex encoded)
                type: string
                example: '0x4a817c800'

          data:
            properties:
              data:
                title: data
                description: Arbitrary binary data included in the transaction
                type: string
                example: >
                  0x2147b6890000000000000000000000003cb6c364d772e1135700953e69a0ae7a5104f2820000000000000000000000003cb6
                  c364d772e1135700953e69a0ae7a5104f282000000000000000000000000000000000000000000000000000000000000001800
                  000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
                  000000000000000000000001
      # General Shipment Parameters

      tracking:
        walletId:
          properties:
            wallet_id:
              <<: *uuid
              title: wallet_id
              description: Wallet UUID associated with the transaction

        version:
          properties:
            version:
              title: version
              description: Version of the tracking data format
              type: string
              example: '1.0.0'

        time:
          properties:
            time:
              title: time
              description: Timestamp of the GPS fix (ISO 8601 format)
              type: string
              example: '2018-08-22T17:44:39.874352'

        latitude:
          properties:
            latitude:
              title: latitude
              description: Latitude at the device's position
              type: number
              format: double
              example: -81.048253

        longitude:
          properties:
            longitude:
              title: longitude
              description: Longitude at the device's position
              type: number
              format: double
              example: 34.628643

        altitude:
          properties:
            altitude:
              title: altitude
              description: Altitude at the device's position
              type: number
              example: 924

        uncertainty:
          properties:
            uncertainty:
              title: uncertainty
              description: Estimated accuracy of the GPS fix in meters
              type: number
              example: 95

        speed:
          properties:
            speed:
              title: speed
              description: The device's current velocity in m/s
              type: number
              example: 34

        source:
          properties:
            source:
              title: source
              description: Geolocation method
              type: string
              example: gps

        pointCoordinates:
          title: coordinates
          description: Tuple of the Latitude and Longitude of the device location
          example: [-80.123635, 33.018413333333335]
          type: array
          items:
            type: number

        lineCoordinates:
          title: coordinates
          description: Array of tuples of the Latitude and Longitude of the device location
          example: [[-80.123635, 33.018413333333335], [-81.123635, 34.018413333333335]]
          type: array
          items:
            type: array
            items:
              type: number

        linestringTimestamps:
          properties:
            linestringTimestamps:
              title: linestringTimestamps
              description: Array of timestamps associated with tracking points
              example: ['2018-07-27T21:07:14', '2018-07-28T21:10:14']
              type: array
              items:
                type: string

        point:
          type: object
          properties:
            geometry:
              type: object
              description: The GeoJSON geometry associated with this feature
              properties:
                type:
                  title: type
                  description: Type of geometry object
                  example: Point
                  type: string
                coordinates:
                  $ref: '#/components/schemas/dataTypes/tracking/pointCoordinates'

        line:
          type: object
          properties:
            geometry:
              type: object
              description: The GeoJSON geometry associated with this feature
              properties:
                type:
                  title: type
                  description: Type of geometry object
                  example: LineString
                  type: string
                coordinates:
                  $ref: '#/components/schemas/dataTypes/tracking/lineCoordinates'

      # General Document Parameters
      document:
        name:
          properties:
            name:
              title: name
              description: A nickname used to describe the file
              type: string
              example: 'BOL #123'

        description:
          properties:
            description:
              title: description
              description: Longer description for a Document
              type: string
              example: 'The Bill of Lading for Shipment #123'

        documentType:
          properties:
            document_type:
              title: document_type
              description: Category of Document to upload
              type: string
              enum: [BOL, IMAGE, OTHER]
              example: 'BOL'
        fileType:
          properties:
            file_type:
              title: file_type
              description: File MIME type to upload
              type: string
              enum: [PDF, JPEG, PNG]
              example: 'PDF'

        uploadStatus:
          properties:
            upload_status:
              title: upload_status
              description: Status of the file upload
              type: string
              enum: [PENDING, COMPLETE, FAILED]
              example: 'PENDING'

        acl:
          properties:
            acl:
              title: acl
              description: AWS read policy type
              type: string
              example: 'private'

        contentType:
          properties:
            Content-Type:
              title: Content-Type
              description: Content type of the document
              type: string
              example: 'image/png'

        key:
          properties:
            key:
              title: key
              description: Key
              type: string
              example: '33ebde34-ff0a-407d-a315-b5ff1260ffd4/10139104-ddc8-4502-8b40-f2598430d6c8/fa50cb2a-bbca-43c1-9acc-a75da16e98cc/c06ecadb-ab1a-403a-a94c-c968f62a0a33.png'

        xAmzAlgorithm:
          properties:
            x-amz-algorithm:
              title: x-amz-algorithm
              description: Algorithm used to encode the document
              type: string
              example: 'AWS4-HMAC-SHA256'

        xAmzCredential:
          properties:
            x-amz-credential:
              title: x-amz-credential
              description: Key
              type: string
              example: 'TEST-DEV-KEY/20181129/us-east-1/s3/aws4_request'

        xAmzDate:
          properties:
            x-amz-date:
              title: x-amz-date
              description: Date when it was posted to the AWS server
              type: string
              example: '20181129T203522Z'

        policy:
          properties:
            policy:
              title: policy
              description: AWS Policy
              type: string
              example: 'eyJleHBpcmF0aW9uIjogIjIwMTgtMTEtMjlUMjA6NTA6MjJaIiwgImNvbmRpdGlvbnMiOiBbeyJhY2wiOiAicHVibGljLXJlYWQifSwgeyJDb250ZW50LVR5cGUiOiAiaW1hZ2UvcG5nIn0sIHsiYnVja2V0IjogImRvY3VtZW50LW1hbmFnZW1lbnQtczMtbG9jYWwifSwgeyJrZXkiOiAiMjFmMjA2ZjUtZDY1MC00ZDVjLWEzNmEtODk0MTlhYWIxZTZkLzNiMGQ2YzMzLTMxZmQtNGVjNy1iNjlkLWQ1MzY0MzNkNjE1ZC8xZDRkZTZmZS1jMzYyLTRjNTYtOWFkZC0zNDcyYmFlNGY5M2EvZmU4NzllNGUtMzk2NS00NTczLTg0M2ItMGU5MTI2ODZkM2ZjLnBuZyJ9LCB7IngtYW16LWFsZ29yaXRobSI6ICJBV1M0LUhNQUMtU0hBMjU2In0sIHsieC1hbXotY3JlZGVudGlhbCI6ICJURVNULURFVi1LRVkvMjAxODExMjkvdXMtZWFzdC0xL3MzL2F3czRfcmVxdWVzdCJ9LCB7IngtYW16LWRhdGUiOiAiMjAxODExMjlUMjAzNTIyWiJ9XX0='

        xAmzSignature:
          properties:
            x-amz-signature:
              title: x-amz-signature
              description: Signature of the AWS server
              type: string
              example: 'c660f43cdbea52ada8b9bc128286728aaaf24c3de96c009a9661b56c95cc7b2e'

        s3Fields:
          properties:
            fields:
              allOf:
              - type: object
                title: fields
                description: Request parameters to be included in POST to S3
              - $ref: '#/components/schemas/dataTypes/document/acl'
              - $ref: '#/components/schemas/dataTypes/document/contentType'
              - $ref: '#/components/schemas/dataTypes/document/key'
              - $ref: '#/components/schemas/dataTypes/document/xAmzAlgorithm'
              - $ref: '#/components/schemas/dataTypes/document/xAmzCredential'
              - $ref: '#/components/schemas/dataTypes/document/xAmzDate'
              - $ref: '#/components/schemas/dataTypes/document/policy'
              - $ref: '#/components/schemas/dataTypes/document/xAmzSignature'

        bucketUrl:
          properties:
            url:
              title: url
              description: Bucket URL
              type: string
              example: 'https://s3.amazonaws.com/document-management-s3-prod'

        presignedS3Get:
          properties:
            presigned_s3:
              type: string
              title: presigned_s3
              description: Temporary presigned URL with read access to document in S3
              example: https://s3.amazonaws.com/document-management-s3-prod/e78ce477-1d8c-4319-b7ef-164cc769c1b5/8bcf2521-8afc-4836-ba2f-be1577e731e6/c55332a6-ca5e-4c83-a1de-ea49fdf82d97/ea6a4729-0039-40bb-8a4b-69476627cdcc.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=TEST-DEV-KEY%2F20181211%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181211T170636Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Signature=5e95676fda122068fc070efce891d42913c9d17b8d2d98c1bb463ce0bae0fd5c

        presignedS3Post:
          properties:
            presigned_s3:
              allOf:
               - type: object
                 title: presigned_s3
                 description: Presigned S3 POST request parameters

               - $ref: '#/components/schemas/dataTypes/document/bucketUrl'
               - $ref: '#/components/schemas/dataTypes/document/s3Fields'

      shipment:
        storageCredentialsId:
          properties:
            storage_credentials_id:
              <<: *uuid
              title: storage_credentials_id
              description: Storage credential UUID associated with the shipment

        vaultId:
          properties:
            vault_id:
              <<: *uuid
              title: vault_id
              description: Vault UUID associated with the shipment

        deviceId:
          properties:
            device_id:
              <<: *uuid
              title: device_id
              description: Device UUID associated with the shipment

        shipperWalletId:
          properties:
            shipper_wallet_id:
              <<: *uuid
              title: shipper_wallet_id
              description: Shipper's Wallet UUID associated with the shipment

        carrierWalletId:
          properties:
            carrier_wallet_id:
              <<: *uuid
              title: carrier_wallet_id
              description: Carrier's Wallet UUID associated with the shipment

        carriersScac:
          properties:
            carriers_scac:
              title: carriers_scac
              description: Standard Carrier Alpha Code used for the carrier
              type: string
              example: 'SCAC'

        forwardersScac:
          properties:
            forwarders_scac:
              title: forwarders_scac
              description: Standard Carrier Alpha Code used for the forwarder
              type: string
              example: 'SCAC'

        nvoccScac:
          properties:
            nvocc_scac:
              title: nvocc_scac
              description: Standard Carrier Alpha Code used for the Non-Vessel Operating Common Carrier (NVOCC)
              type: string
              example: 'SCAC'

        shippersReference:
          properties:
            shippers_reference:
              title: shippers_reference
              description: Reference number of this shipment assigned by the Shipper
              type: string
              example: 'Shipper Reference'

        forwardersReference:
          properties:
            forwarders_reference:
              title: forwarders_reference
              description: Reference number of this shipment assigned by the Forwarder
              type: string
              example: 'Forwarder Reference'

        forwardersShipperId:
          properties:
            forwarders_shipper_id:
              title: forwarders_shipper_id
              description: ID of the Shipper assigned by the Forwarder
              type: string
              example: 'Forwarder ID'

        carriersInstructions:
          properties:
            carriers_instructions:
              title: carriers_instructions
              description: Instructions for Carrier
              type: string
              example: 'deliver to dock #2'

        proNumber:
          properties:
            pro_number:
              title: pro_number
              description: PRO number for LTL shipments
              type: string
              example: '12345678'

        billMaster:
          properties:
            bill_master:
              title: bill_master
              description: Master bill number
              type: string
              example: 'MBLN12345'

        billHouse:
          properties:
            bill_house:
              title: bill_house
              description: House bill Number
              type: string
              example: 'HBLN12345'

        billSubhouse:
          properties:
            bill_subhouse:
              title: bill_subhouse
              description: Sub-House bill Number
              type: string
              example: 'SHBLN12345'

        paymentTerms:
          properties:
            payment_terms:
              title: payment_terms
              description: Shipment payment terms
              type: string
              example: 'Paid'

        vesselName:
          properties:
            vessel_name:
              title: vessel_name
              description: Vessel or ship name carrying shipment
              type: string
              example: 'Shippy'

        voyageNumber:
          properties:
            voyage_number:
              title: voyage_number
              description: Unique voyage number
              type: string
              example: 'A113'

        packageQty:
          properties:
            package_qty:
              title: package_qty
              description: Number of packages in shipment
              type: integer
              format: int32
              example: 123

        weightGross:
          properties:
            weight_gross:
              title: weight_gross
              description: Gross weight in kilograms
              type: number
              example: 12345.67

        volume:
          properties:
            volume:
              title: volume
              description: Volume in cubic meters
              type: number
              example: 12345.67

        containerQty:
          properties:
            container_qty:
              title: container_qty
              description: Number of containers in the shipment
              type: integer
              format: int32
              example: 12345

        weightDim:
          properties:
            weight_dim:
              title: weight_dim
              description: Estimated weight that is calculated from the length, width, and height of shipment
              type: number
              example: 12345.67

        weightChargeable:
          properties:
            weight_chargeable:
              title: weight_chargeable
              description: Weight of the shipment used for billing
              type: number
              example: 12345.67

        docsReceivedAct:
          properties:
            docs_received_act:
              title: docs_received_act
              description: Timestamp of when the transporter received the shipment
              type: string
              example: '2018-08-22T17:44:39.874352'

        docsApprovedAct:
          properties:
            docs_approved_act:
              title: docs_approved_act
              description: Timestamp of when the transporter confirmed the shipment's details were complete and valid
              type: string
              example: '2018-08-22T17:44:39.874352'

        pickupAppt:
          properties:
            pickup_appt:
              title: pickup_appt
              description: Appointment timestamp for pickup from origin
              type: string
              example: '2018-08-22T17:44:39.874352'

        pickupEst:
          properties:
            pickup_est:
              title: pickup_est
              description: Estimated timestamp for pickup from origin
              type: string
              example: '2018-08-22T17:44:39.874352'

        pickupAct:
          properties:
            pickup_act:
              title: pickup_act
              description: Actual timestamp pickup occured at point of origin
              type: string
              example: '2018-08-22T17:44:39.874352'

        loadingEst:
          properties:
            loading_est:
              title: loading_est
              description: Estimated timestamp for loading to begin
              type: string
              example: '2018-08-22T17:44:39.874352'

        loadingAct:
          properties:
            loading_act:
              title: loading_act
              description: Actual timestamp that loading began
              type: string
              example: '2018-08-22T17:44:39.874352'

        departureEst:
          properties:
            departure_est:
              title: departure_est
              description: Estimated timestamp of departure
              type: string
              example: '2018-08-22T17:44:39.874352'

        departureAct:
          properties:
            departure_act:
              title: departure_act
              description: Actual timestamp of departure
              type: string
              example: '2018-08-22T17:44:39.874352'

        deliveryAppt:
          properties:
            delivery_appt:
              title: delivery_appt
              description: Delivery appointment timestamp
              type: string
              example: '2018-08-22T17:44:39.874352'

        arrivalPortEst:
          properties:
            arrival_port_est:
              title: arrival_port_est
              description: Estimated timestamp of arrival at destination port
              type: string
              example: '2018-08-22T17:44:39.874352'

        arrivalPortAct:
          properties:
            arrival_port_act:
              title: arrival_port_act
              description: Timestamp of actual arrival at destination port
              type: string
              example: '2018-08-22T17:44:39.874352'

        deliveryEst:
          properties:
            delivery_est:
              title: delivery_est
              description: Estimated timestamp of delivery
              type: string
              example: '2018-08-22T17:44:39.874352'

        deliveryAct:
          properties:
            delivery_act:
              title: delivery_act
              description: Actual timestamp of delivery
              type: string
              example: '2018-08-22T17:44:39.874352'

        deliveryAttempt:
          properties:
            delivery_attempt:
              title: delivery_attempt
              description: Timestamp of last attempted delivery
              type: string
              example: '2018-08-22T17:44:39.874352'

        cancelRequestedDateAct:
          properties:
            cancel_requested_date_act:
              title: cancel_requested_date_act
              description: Timestamp for cancellation request
              type: string
              example: '2018-08-22T17:44:39.874352'

        cancelConfirmedDateAct:
          properties:
            cancel_confirmed_date_act:
              title: cancel_confirmed_date_act
              description: Timestamp for cancellation confirmation
              type: string
              example: '2018-08-22T17:44:39.874352'

        customsFiledDateAct:
          properties:
            customs_filed_date_act:
              title: customs_filed_date_act
              description: Timestamp of actual customs filed date
              type: string
              example: '2018-08-22T17:44:39.874352'

        customsHoldDateAct:
          properties:
            customs_hold_date_act:
              title: customs_hold_date_act
              description: Timestamp of hold by customs
              type: string
              example: '2018-08-22T17:44:39.874352'

        customsReleaseDateAct:
          properties:
            customs_release_date_act:
              title: customs_release_date_act
              description: Timestamp of release by customs
              type: string
              example: '2018-08-22T17:44:39.874352'

        containerType:
          properties:
            container_type:
              title: container_type
              description: Type of container being used for the shipment
              type: string
              example: 'BULK'

        arrivalLocode:
          properties:
            arrival_locode:
              title: arrival_locode
              description: UN/LOCODE for destination port
              type: string
              example: 'USCHI'

        finalPortLocode:
          properties:
            final_port_locode:
              title: final_port_locode
              description: UN/LOCODE for final destination port
              type: string
              example: 'USCHI'

        importLocode:
          properties:
            import_locode:
              title: import_locode
              description: UN/LOCODE for import
              type: string
              example: 'USCHI'

        ladingLocode:
          properties:
            lading_locode:
              title: lading_locode
              description: UN/LOCODE for lading
              type: string
              example: 'USCHI'

        originLocode:
          properties:
            origin_locode:
              title: origin_locode
              description: UN/LOCODE for origin
              type: string
              example: 'USCHI'

        usRouted:
          properties:
            us_routed:
              title: us_routed
              description: Whether the US export is routed
              type: boolean
              example: true

        importCustomsMode:
          properties:
            import_customs_mode:
              title: import_customs_mode
              description: Mode of Transportation code used by the customs authority for the country where the shipment's import declaration will be filed
              type: string
              example: '29601'

        modeOfTransportCode:
          properties:
            mode_of_transport_code:
              title: mode_of_transport_code
              description: Type of transport shipment will be using
              type: string
              example: '29601'

        usExportPort:
          properties:
            us_export_port:
              title: us_export_port
              description: US Customs code for port of export
              type: string
              example: '29601'

        customerFields:
          properties:
            customer_fields:
              title: customer_fields
              description: Customer fields for shipment
              type: JSON object
              example: {}

        specialInstructions:
          properties:
            special_instructions:
              title: special_instructions
              description: General instructions or information about the shipment
              type: string
              example: 'Keep refrigerated'

        trailerNumber:
          properties:
            trailer_number:
              title: trailer_number
              description: Number of trailer hauling goods
              type: string
              example: 'TA664231'

        sealNumber:
          properties:
            seal_number:
              title: seal_number
              description: If trailer is sealed, seal number provided
              type: string
              example: 'Z88654Q63'

        isMasterBOL:
          properties:
            is_master_bol:
              title: is_master_bol
              description: Boolean on whether the shipment is master or house bill of lading
              type: boolean
              example: false

        nmfcClass:
          properties:
            nmfc_class:
              title: nmfc_class
              description: National Motor Freight Traffic Association classification. Freight class between 50 and 500
              type: string
              example: '55'

        isHazmat:
          properties:
            is_hazmat:
              title: is_hazmat
              description: Boolean on whether the shipment contains hazardous contents
              type: boolean
              example: false

        locationData:
          properties:
            data:
              title: data
              type: object
              properties:
                type:
                  type: string
                  description: Name of model
                  title: type
                  example: 'Location'
                id:
                  <<: *uuid
                  title: id
                  description: Location UUID associated with the shipment

        loadData:
          properties:
            data:
              title: data
              type: object
              properties:
                type:
                  type: string
                  description: Name of model
                  title: type
                  example: 'LoadShipment'
                id:
                  <<: *uuid
                  title: id
                  description: LoadShipment UUID associated with the shipment

      # General Job Parameters
      job:
        state:
          properties:
            state:
              title: state
              description: State of the job
              type: string
              enum: [PENDING, RUNNING, FAILED, COMPLETE]
              example: 'PENDING'

        rpcMethod:
          properties:
            rpc_method:
              title: rpc_method
              description: Status of the escrow
              type: string
              example: 'create_shipment_transaction'

        r:
          properties:
            r:
              title: r
              description: Receiver ethereum address
              type: string
              example: '0x2f08ab71181bf55b3f978d8ce47c193ca61ec3b2b65ec1ecacf4997a58b013b7'

        s:
          properties:
            s:
              title: s
              description: Sender ethereum address
              type: string
              example: '0x2f08ab71181bf55b3f978d8ce47c193ca61ec3b2b65ec1ecacf4997a58b013b7'

        v:
          properties:
            v:
              title: v
              description: Version of the contract
              type: string
              example: '0x0a96'

        to:
          properties:
            to:
              title: to
              description: Reiever of the contract
              type: string
              example: '0x369974bFb76b656C0c45a84D00b1877340b45fA2'

        data:
          properties:
            data:
              title: data
              description: Data within the contract
              type: string
              example: '0xbcbf78a000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000060000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000042307865326532346163363865626161383265326264376535343538303263353231326465333963613638613966353633633030316339616430643364343937333662000000000000000000000000000000000000000000000000000000000000'

        nonce:
          properties:
            nonce:
              title: nonce
              description: Nonce of the contract
              type: string
              example: '0x11'

        value:
          properties:
            value:
              title: value
              description: value of the contract
              type: string
              example: '0x11'

        gasLimit:
          properties:
            gasLimit:
              title: gasLimit
              description: Gas limit of the contract
              type: string
              example: '0x07a120'

        gasPrice:
          properties:
            gasPrice:
              title: gasPrice
              description: Gas Price of the contract
              type: string
              example: '0x04a817c800'

        vaultHash:
          properties:
            gasPrice:
              title: vault_hash
              description: Hash of the vault
              type: string
              example: '0xe2e24ac68ebaa82e2bd7e545802c5212de39ca68a9f563c001c9ad0d3d49736b'

        signingWalletId:
          properties:
            signing_wallet_id:
              <<: *uuid
              title: signing_wallet_id
              description: Signed UUID associated with the job

        rpcClass:
          properties:
            rpcClass:
              title: rpc_class
              description: Class of the RPC
              type: string
              example: 'apps.shipments.rpc.ShipmentRPCClient'

      # General Load Shipment Parameters
      loadShipment:
        shipmentStatus:
          properties:
            shipment_status:
              title: shipment_status
              description: Status of the shipment
              type: string
              enum: [PENDING, RUNNING, FAILED, COMPLETE]
              example: 'PENDING'

        escrowStatus:
          properties:
            escrow_status:
              title: escrow_status
              description: Status of the escrow
              type: string
              enum: [CONTRACT_INITIATED, CONTRACT_SETUP, CONTRACT_COMMITTED, CONTRACT_COMPLETED, CONTRACT_ACCEPTED, CONTRACT_CANCELED]
              example: 'CONTRACT_INITIATED'

        fundingType:
          properties:
            funding_type:
              title: funding_type
              description: Type of funding for the shipmet
              type: string
              enum: [ship, cash, eth]
              example: 'ship'

        shipmentId:
          properties:
            shipment_id:
              title: shipment_id
              description: Id for the shipment on the engine
              type: number
              format: int32
              example: 0

        shipmentAmount:
          properties:
            shipment_amount:
              title: shipment_amount
              description: Amount for the shipment
              type: number
              format: int32
              example: 1

        paidAmount:
          properties:
            paid_amount:
              title: paid_amount
              description: Cost of the shipment transaction
              type: number
              format: int32
              example: 1

        paidTokens:
          properties:
            paid_tokens:
              title: paid_tokens
              description: Amount of tokens paid with
              type: number
              format: double
              example: '0.000000000000000000'

        contractFunded:
          properties:
            contract_funded:
              title: contract_funded
              description: Whether or not the contract has been funded
              type: boolean
              example: true

        shipmentCreated:
          properties:
            shipment_created:
              title: shipment_created
              description: Whether or not the shipment has been created
              type: boolean
              example: true

        validUntil:
          properties:
            valid_until:
              title: valid_until
              description: How long the hash is valid
              type: number
              format: int32
              example: 24

        startBlock:
          properties:
            start_block:
              title: start_block
              description: What block the hash starts at
              type: number
              format: int32
              example: 1

        endBlock:
          properties:
            end_block:
              title: end_block
              description: What block the hash eds at
              type: number
              format: int32
              example: 5

        escrowFunded:
          properties:
            escrow_funded:
              title: escrow_funded
              description: Whether or not the escrow has been funded
              type: boolean
              example: true

        shipmentCommittedByCarrier:
          properties:
            shipment_committed_by_carrier:
              title: shipment_committed_by_carrier
              description: Whether or not the shipment has been committed by carrier
              type: boolean
              example: true

        commitmentConfirmedDate:
          properties:
            commitment_confirmed_date:
              title: commitment_confirmed_date
              description: Whether or not the shipment has been completed by carrier
              type: string
              format: date-time
              example: '2018-06-18T14:54:56.652732Z'

        shipmentCompletedByCarrier:
          properties:
            shipment_completed_by_carrier:
              title: shipment_completed_by_carrier
              description: Whether or not the shipment has been completed by carrier
              type: boolean
              example: false

        shipmentAcceptedByShipper:
          properties:
            shipment_accepted_by_shipper:
              title: shipment_accepted_by_shipper
              description: Whether or not the shipment has been accepted by carrier
              type: boolean
              example: true

        shipmentCanceledByShipper:
          properties:
            shipment_canceled_by_shipper:
              title: shipment_canceled_by_shipper
              description: Whether or not the shipment has been canceled by shipper
              type: boolean
              example: false

        escrowPaid:
          properties:
            escrow_paid:
              title: escrow_paid
              description: Whether or not the escrow has been paid
              type: boolean
              example: false

      # General Message parameters
      message:
        to:
          properties:
            to:
              title: to
              description: Receiver ethereum address
              type: string
              example: '0x2f08ab71181bf55b3f978d8ce47c193ca61ec3b2b65ec1ecacf4997a58b013b7'

        from:
          properties:
            from:
              title: from
              description: Sender ethereum address
              type: string
              example: '0x2f08ab71181bf55b3f978d8ce47c193ca61ec3b2b65ec1ecacf4997a58b013b7'

        status:
          properties:
            status:
              title: status
              description: Whether the transaction is still active
              type: boolean
              example: true

        gasUsed:
          properties:
            gasUsed:
              title: gasUsed
              description: Amount of gas used for this transaction
              type: number
              format: int32
              example: 55688

        blockHash:
          properties:
            blockHash:
              title: blockHash
              description: Block hash associated
              type: string
              example: '0x989518435f288d967eb6f8ce87b048958b1794a2477f8e88bb5ad1036584b6c5'

        logsBloom:
          properties:
            logsBloom:
              title: logsBloom
              description: Hash of the log entries
              type: string
              example: '0x989518435f288d967eb6f8ce87b048958b1794a2477f8e88bb5ad1036584b6c5'

        blockNumber:
          properties:
            blockNumber:
              title: blockNumber
              description: Block number of the trasaction
              type: number
              format: int32
              example: 32

        contractAddress:
          properties:
            contractAddress:
              title: contractAddress
              description: Contract address created
              type: string
              example: '0x2f08ab71181bf55b3f978d8ce47c193ca61ec3b2b65ec1ecacf4997a58b013b7'

        address:
          properties:
            address:
              title: address
              description: Address of the receiver
              type: string
              example: '0x2f08ab71181bf55b3f978d8ce47c193ca61ec3b2b65ec1ecacf4997a58b013b7'


        transactionHash:
          properties:
            transactionHash:
              title: transactionHash
              description: Hash of the transaction
              type: string
              example: '0x2f08ab71181bf55b3f978d8ce47c193ca61ec3b2b65ec1ecacf4997a58b013b7'

        transactionIndex:
          properties:
            transactionIndex:
              title: transactionIndex
              description: Transaction's index position within the block
              type: number
              format: int32
              example: 1

        cumulativeGasUsed:
          properties:
            cumulativeGasUsed:
              title: cumulativeGasUsed
              description: Cumulative amount of gas used when this transaction was executed
              type: number
              format: int32
              example: 55688

        removed:
          properties:
            removed:
              title: removed
              description: Whether the transaction has been removed
              type: boolean
              example: true

        logIndex:
          properties:
            logIndex:
              title: logIndex
              description: Index of the log
              type: number
              format: int32
              example: 0

        id:
          properties:
            id:
              title: id
              description: id of the transaction
              type: string
              example: 'log_80ef40ab'

        type:
          properties:
            type:
              title: type
              description: Type of the object
              type: string
              example: 'Message'

      # General Location Parameters
      location:
        name:
          properties:
            name:
              title: name
              description: Name of the location
              type: string
              example: 'Location Name'

        address_1:
          properties:
            address_1:
              title: address_1
              description: Street and address of the location
              type: string
              example: '123 Fake St.'

        address_2:
          properties:
            address_2:
              title: address_2
              description: Secondary information of the location
              type: string
              example: 'Apartment 404'

        city:
          properties:
            city:
              title: city
              description: City of the location
              type: string
              example: 'Greenville'

        state:
          properties:
            state:
              title: state
              description: State of the location
              type: string
              example: 'South Carolina'

        country:
          properties:
            country:
              title: country
              description: Country of the location
              type: string
              example: 'United States of America'

        postalCode:
          properties:
            postal_code:
              title: postal_code
              description: Postal Code of the location
              type: string
              example: '29601'

        phoneNumber:
          properties:
            phone_number:
              title: phone_number
              description: Phone Number of the location
              type: string
              example: '555-555-5555'

        faxNumber:
          properties:
            fax_number:
              title: fax_number
              description: Fax Number of the location
              type: string
              example: '555-555-5555'

        coordinates:
          properties:
            coordinates:
              title: coordinates
              description: Latitude and Longitude of location
              type: array
              items:
                type: number
                example: 50.924085, -1.475295

        type:
          properties:
            type:
              title: type
              description: Type of field
              type: string
              example: 'Point'

      # General Permission Links Parameters
      permissionLinks:
        name:
          properties:
            name:
              title: name
              description: Name of the PermissionLink
              type: string
              example: 'Public Access Link #1'

        shipmentId:
          properties:
            shipment_id:
              <<: *uuid
              title: shipment_id
              description: Shipment UUID associated with the permission

        expirationDate:
          properties:
            expiration_date:
              title: expiration_date
              description: Timestamp of when the PermissionLink will expire and be unusable
              type: string
              example: '2018-08-22T17:44:39.874352'


    # Models
    jsonApi:
      resource:
        allOf:
        - $ref: '#/components/schemas/dataTypes/resourceId'
        - $ref: '#/components/requestBodies/jsonApi/createResource'
        - type: object
          description: Primary data related to the resource

      dataArray:
        properties:
          data:
            type: array
            description: A list of resources returned for this request
            items:
              $ref: '#/components/schemas/jsonApi/resource'

      linksAndMeta:
        properties:
          links:
            $ref: '#/components/schemas/links'
          meta:
            $ref: '#/components/schemas/meta'

      data:
        properties:
          data:
            $ref: '#/components/schemas/jsonApi/resource'

      error:
        properties:
          errors:
            type: array
            items:
              type: object
              properties:
                status:
                  description: The HTTP status code applicable to this problem, expressed as a string value.
                  type: string
                detail:
                  description: A human-readable explanation specific to this occurrence of the problem.
                  type: string

      errorPointer:
        properties:
          errors:
            type: array
            description: An array of error objects
            items:
              type: object
              description: Error objects provide additional information about problems encountered while performing an operation.
              properties:
                source:  # Not present on all errors
                  description: An object containing references to the source of the error, optionally including any of the following members.
                  type: object
                  properties:
                    pointer:
                      description: A JSON Pointer [RFC6901] to the associated entity in the request document [e.g. "/data" for a primary data object, or "/data/attributes/title" for a specific attribute].
                      type: string

      errorParameter:
        properties:
          errors:
            type: array
            items:
              type: object
              properties:
                source:  # Not present on all errors
                  description: An object containing references to the source of the error, optionally including any of the following members.
                  type: object
                  properties:
                    parameter:
                      description: A string indicating which URI query parameter caused the error.
                      type: string

    loadShipment:
      resource:
          properties:
            type:
              example: LoadShipment

      attributes:
        allOf:
        - $ref: '#/components/schemas/dataTypes/loadShipment/shipmentStatus'
        - $ref: '#/components/schemas/dataTypes/loadShipment/escrowStatus'
        - $ref: '#/components/schemas/dataTypes/loadShipment/fundingType'
        - $ref: '#/components/schemas/dataTypes/loadShipment/shipmentId'
        - $ref: '#/components/schemas/dataTypes/loadShipment/shipmentAmount'
        - $ref: '#/components/schemas/dataTypes/loadShipment/paidAmount'
        - $ref: '#/components/schemas/dataTypes/loadShipment/paidTokens'
        - $ref: '#/components/schemas/dataTypes/shipment/shipperWalletId'
        - $ref: '#/components/schemas/dataTypes/shipment/carrierWalletId'
        - $ref: '#/components/schemas/dataTypes/ethereum/moderator'
        - $ref: '#/components/schemas/dataTypes/loadShipment/contractFunded'
        - $ref: '#/components/schemas/dataTypes/loadShipment/shipmentCreated'
        - $ref: '#/components/schemas/dataTypes/loadShipment/validUntil'
        - $ref: '#/components/schemas/dataTypes/loadShipment/startBlock'
        - $ref: '#/components/schemas/dataTypes/loadShipment/endBlock'
        - $ref: '#/components/schemas/dataTypes/loadShipment/escrowFunded'
        - $ref: '#/components/schemas/dataTypes/loadShipment/shipmentCommittedByCarrier'
        - $ref: '#/components/schemas/dataTypes/loadShipment/commitmentConfirmedDate'
        - $ref: '#/components/schemas/dataTypes/loadShipment/shipmentCompletedByCarrier'
        - $ref: '#/components/schemas/dataTypes/loadShipment/shipmentAcceptedByShipper'
        - $ref: '#/components/schemas/dataTypes/loadShipment/shipmentCanceledByShipper'
        - $ref: '#/components/schemas/dataTypes/loadShipment/escrowPaid'
        - $ref: '#/components/schemas/dataTypes/createdAt'
        - $ref: '#/components/schemas/dataTypes/updatedAt'

      getResource:
        allOf:
        - $ref: '#/components/schemas/loadShipment/resource'
        - properties:
            attributes:
              $ref: '#/components/schemas/loadShipment/attributes'

      getResponse:
        allOf:
        - $ref: '#/components/schemas/jsonApi/data'
        - properties:
            data:
              $ref: '#/components/schemas/loadShipment/getResource'

    message:
      resource:
          properties:
            type:
              example: Message
      logs:
        type: object
        properties:
          logs:
            type: array
            items:
            - anyOf:
              - type: string
              - type: number

      attributes:
        allOf:
        - $ref: '#/components/schemas/dataTypes/message/type'
        - $ref: '#/components/schemas/message/body'
        - $ref: '#/components/schemas/dataTypes/createdAt'

      body:
        type: object
        properties:
          body:
            type: object
            allOf:
            - $ref: '#/components/schemas/dataTypes/message/to'
            - $ref: '#/components/schemas/dataTypes/message/from'
            - $ref: '#/components/schemas/message/logs'
            - $ref: '#/components/schemas/dataTypes/message/status'
            - $ref: '#/components/schemas/dataTypes/message/gasUsed'
            - $ref: '#/components/schemas/dataTypes/message/blockHash'
            - $ref: '#/components/schemas/dataTypes/message/logsBloom'
            - $ref: '#/components/schemas/dataTypes/message/blockNumber'
            - $ref: '#/components/schemas/dataTypes/message/contractAddress'
            - $ref: '#/components/schemas/dataTypes/message/transactionHash'
            - $ref: '#/components/schemas/dataTypes/message/transactionIndex'
            - $ref: '#/components/schemas/dataTypes/message/cumulativeGasUsed'

      getResource:
        allOf:
        - $ref: '#/components/schemas/message/resource'
        - properties:
            attributes:
              $ref: '#/components/schemas/message/attributes'

      getResponse:
        allOf:
        - $ref: '#/components/schemas/jsonApi/data'
        - properties:
            data:
              $ref: '#/components/schemas/message/getResource'

    job:
      resource:
          properties:
            type:
              example: AsyncJob

      attributes:
        allOf:
        - $ref: '#/components/schemas/dataTypes/job/state'
        - $ref: '#/components/schemas/job/parameters'
        - $ref: '#/components/schemas/dataTypes/createdAt'
        - $ref: '#/components/schemas/dataTypes/updatedAt'

      message:
        type: object
        properties:
          - $ref: '#/components/schemas/dataTypes/job/state'
          - $ref: '#/components/schemas/job/parameters'

      relationships:
        message_set:
          type: object
          properties:
          - $ref: '#/components/schemas/message/resource'

      parameters:
        type: object
        properties:
          parameters:
            type: object
            allOf:
            - $ref: '#/components/schemas/dataTypes/job/rpcClass'
            - $ref: '#/components/schemas/job/signed_tx'
            - $ref: '#/components/schemas/dataTypes/job/rpcMethod'
            - $ref: '#/components/schemas/job/rpcParameters'
            - $ref: '#/components/schemas/dataTypes/job/signingWalletId'

      signed_tx:
        type: object
        properties:
          signed_tx:
            allOf:
            - $ref: '#/components/schemas/dataTypes/job/r'
            - $ref: '#/components/schemas/dataTypes/job/s'
            - $ref: '#/components/schemas/dataTypes/job/v'
            - $ref: '#/components/schemas/dataTypes/job/to'
            - $ref: '#/components/schemas/dataTypes/job/data'
            - $ref: '#/components/schemas/dataTypes/job/nonce'
            - $ref: '#/components/schemas/dataTypes/job/value'
            - $ref: '#/components/schemas/dataTypes/job/gasLimit'
            - $ref: '#/components/schemas/dataTypes/job/gasPrice'

      rpcParameters:
        type: object
        properties:
          rpcParameters:
            type: array
            items:
            - anyOf:
              - type: string
              - type: number

      getResource:
        allOf:
        - $ref: '#/components/schemas/job/resource'
        - properties:
            attributes:
              $ref: '#/components/schemas/job/attributes'

      getResponse:
        allOf:
        - $ref: '#/components/schemas/jsonApi/data'
        - properties:
            data:
              $ref: '#/components/schemas/job/getResource'

      listResponse:
        allOf:
        - $ref: '#/components/schemas/jsonApi/dataArray'
        - $ref: '#/components/schemas/jsonApi/linksAndMeta'
        - properties:
            data:
              items:
                $ref: '#/components/schemas/job/getResource'
            included:
              items:
                $ref: '#/components/schemas/message/getResource'
            relationships:
              $ref: '#/components/schemas/job/relationships'

    shipment:
      resource:
        properties:
          type:
            example: Shipment

      attributes:
        allOf:
        - $ref: '#/components/schemas/dataTypes/shipment/storageCredentialsId'
        - $ref: '#/components/schemas/dataTypes/shipment/vaultId'
        - $ref: '#/components/schemas/dataTypes/shipment/shipperWalletId'
        - $ref: '#/components/schemas/dataTypes/shipment/carrierWalletId'
        - $ref: '#/components/schemas/dataTypes/createdAt'
        - $ref: '#/components/schemas/dataTypes/updatedAt'
        - $ref: '#/components/schemas/dataTypes/shipment/carriersScac'
        - $ref: '#/components/schemas/dataTypes/shipment/forwardersScac'
        - $ref: '#/components/schemas/dataTypes/shipment/nvoccScac'
        - $ref: '#/components/schemas/dataTypes/shipment/shippersReference'
        - $ref: '#/components/schemas/dataTypes/shipment/forwardersReference'
        - $ref: '#/components/schemas/dataTypes/shipment/forwardersShipperId'
        - $ref: '#/components/schemas/dataTypes/shipment/carriersInstructions'
        - $ref: '#/components/schemas/dataTypes/shipment/proNumber'
        - $ref: '#/components/schemas/dataTypes/shipment/billMaster'
        - $ref: '#/components/schemas/dataTypes/shipment/billHouse'
        - $ref: '#/components/schemas/dataTypes/shipment/billSubhouse'
        - $ref: '#/components/schemas/dataTypes/shipment/paymentTerms'
        - $ref: '#/components/schemas/dataTypes/shipment/vesselName'
        - $ref: '#/components/schemas/dataTypes/shipment/voyageNumber'
        - $ref: '#/components/schemas/dataTypes/shipment/modeOfTransportCode'
        - $ref: '#/components/schemas/dataTypes/shipment/packageQty'
        - $ref: '#/components/schemas/dataTypes/shipment/weightGross'
        - $ref: '#/components/schemas/dataTypes/shipment/volume'
        - $ref: '#/components/schemas/dataTypes/shipment/containerQty'
        - $ref: '#/components/schemas/dataTypes/shipment/weightDim'
        - $ref: '#/components/schemas/dataTypes/shipment/weightChargeable'
        - $ref: '#/components/schemas/dataTypes/shipment/docsReceivedAct'
        - $ref: '#/components/schemas/dataTypes/shipment/docsApprovedAct'
        - $ref: '#/components/schemas/dataTypes/shipment/pickupAppt'
        - $ref: '#/components/schemas/dataTypes/shipment/pickupEst'
        - $ref: '#/components/schemas/dataTypes/shipment/pickupAct'
        - $ref: '#/components/schemas/dataTypes/shipment/loadingEst'
        - $ref: '#/components/schemas/dataTypes/shipment/loadingAct'
        - $ref: '#/components/schemas/dataTypes/shipment/departureEst'
        - $ref: '#/components/schemas/dataTypes/shipment/departureAct'
        - $ref: '#/components/schemas/dataTypes/shipment/deliveryAppt'
        - $ref: '#/components/schemas/dataTypes/shipment/arrivalPortEst'
        - $ref: '#/components/schemas/dataTypes/shipment/arrivalPortAct'
        - $ref: '#/components/schemas/dataTypes/shipment/deliveryEst'
        - $ref: '#/components/schemas/dataTypes/shipment/deliveryAct'
        - $ref: '#/components/schemas/dataTypes/shipment/deliveryAttempt'
        - $ref: '#/components/schemas/dataTypes/shipment/cancelRequestedDateAct'
        - $ref: '#/components/schemas/dataTypes/shipment/cancelConfirmedDateAct'
        - $ref: '#/components/schemas/dataTypes/shipment/customsFiledDateAct'
        - $ref: '#/components/schemas/dataTypes/shipment/customsHoldDateAct'
        - $ref: '#/components/schemas/dataTypes/shipment/customsReleaseDateAct'
        - $ref: '#/components/schemas/dataTypes/shipment/containerType'
        - $ref: '#/components/schemas/dataTypes/shipment/arrivalLocode'
        - $ref: '#/components/schemas/dataTypes/shipment/finalPortLocode'
        - $ref: '#/components/schemas/dataTypes/shipment/importLocode'
        - $ref: '#/components/schemas/dataTypes/shipment/ladingLocode'
        - $ref: '#/components/schemas/dataTypes/shipment/originLocode'
        - $ref: '#/components/schemas/dataTypes/shipment/usRouted'
        - $ref: '#/components/schemas/dataTypes/shipment/importCustomsMode'
        - $ref: '#/components/schemas/dataTypes/shipment/usExportPort'
        - $ref: '#/components/schemas/dataTypes/shipment/customerFields'
        - $ref: '#/components/schemas/dataTypes/shipment/specialInstructions'
        - $ref: '#/components/schemas/dataTypes/shipment/trailerNumber'
        - $ref: '#/components/schemas/dataTypes/shipment/sealNumber'
        - $ref: '#/components/schemas/dataTypes/shipment/isMasterBOL'
        - $ref: '#/components/schemas/dataTypes/shipment/nmfcClass'
        - $ref: '#/components/schemas/dataTypes/shipment/isHazmat'

      meta:
        allOf:
        - $ref: '#/components/schemas/dataTypes/asyncJobId'

      getResource:
        allOf:
        - $ref: '#/components/schemas/shipment/resource'
        - properties:
            attributes:
              $ref: '#/components/schemas/shipment/attributes'
            relationships:
              $ref: '#/components/schemas/shipment/relationships'

      getResponse:
        allOf:
        - $ref: '#/components/schemas/jsonApi/data'
        - properties:
            data:
              $ref: '#/components/schemas/shipment/getResource'
            included:
              $ref: '#/components/schemas/shipment/included'

      loadData:
        type: object
        title: load_data
        description: Smart contract data associated with the shipment
        properties:
          load_data:
            $ref: '#/components/schemas/dataTypes/shipment/loadData'

      shipToLocation:
        type: object
        title: ship_to_location
        description: ship_to_location associated with the shipment
        properties:
          ship_to_location:
            $ref: '#/components/schemas/dataTypes/shipment/locationData'

      shipFromLocation:
        type: object
        title: ship_from_location
        description: ship_from_location associated with the shipment
        properties:
          ship_from_location:
            $ref: '#/components/schemas/dataTypes/shipment/locationData'

      finalDestinationLocation:
        type: object
        title: final_destination_location
        description: final_destination_location associated with the shipment
        properties:
          final_destination_location:
            $ref: '#/components/schemas/dataTypes/shipment/locationData'

      billToLocation:
        type: object
        title: bill_to_location
        description: bill_to_location associated with the shipment
        properties:
          bill_to_location:
            $ref: '#/components/schemas/dataTypes/shipment/locationData'

      relationships:
        type: array
        items:
        - allOf:
          - $ref: '#/components/schemas/shipment/loadData'
          - $ref: '#/components/schemas/shipment/shipToLocation'
          - $ref: '#/components/schemas/shipment/shipFromLocation'
          - $ref: '#/components/schemas/shipment/finalDestinationLocation'
          - $ref: '#/components/schemas/shipment/billToLocation'

      createAttributes:
        allOf:
        - $ref: '#/components/schemas/dataTypes/shipment/storageCredentialsId'
        - $ref: '#/components/schemas/dataTypes/shipment/vaultId'
[...]
